# Comparator full texts whose licence is not CC BY / CC0 are held locally only (not redistributed).
# Their sha256 and licence stay in MANIFEST.json and the G1 gate registry.
empagliflozin-hfpef-hosp.PMC10545009.xml
noac-vs-warfarin-af-stroke.PMC8800560.xml
probiotics-aad-prevention.PMC8362734.xml
sacubitril-valsartan-hfref.PMC10053170.xml
semaglutide-obesity-mace.PMC11437580.xml
sglt2-hfref-hosp-cvdeath.PMC8934917.xml
